.brands {
    background-color: $color-bg-secondary;
    padding: 74px 0;
}

.brands__icons {
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}