.main-screen {
    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
    min-height: calc(100vh - 120px);
    padding-top: 9%;
    @include media-tablet  {
        padding-bottom: 9%;
        background-position: center center;

    }
}

.main-screen__content {
    max-width: 610px;
    @include media-tablet {
        max-width: 355px;
    }
}

.main-screen__title {
    margin-bottom: 38px;
}

.main-screen__icons {
    margin-bottom: 25px;
}

.main-screen_try {
    width: 211px;
    margin-bottom: 25px;
}

.main-screen__icons > * {
    margin-right: 19px;
}