html {
    font-size: 10px;
    @include media-tablet {
        font-size: 7px;
    }
}

body {
    font-size: 1.8rem;
    background-color: $color-bg;
    @extend %font-family;
    color: $color-text;
    position: relative;
}

.container {
    max-width: $content-width;
    width: 90%;
    margin: 0 auto;
}
h1 {
    position: absolute;
    top: 0;
    left: -100%;
}

h2 {
    @include font(4.8rem, 6.5rem);
}

h3 {
    @include font(3.2rem, 4.3rem);
}
