.header {
    background-color: $color-bg-secondary;
    padding: 33px 0 32px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-block {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 315px;
}

.nav__link {
    @include font(2.4rem, 3.2rem);
    @extend %pointer;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 46px;
    >*:not(:last-child) {
        margin-right: 24px;
    }
}